.program__date{
    margin-top: 200px;
}

@media screen and (max-width: 425px){
    .program__dateText{
        text-align: center;
    }
    .program__title{
        font-size: 3rem;
        text-align: center;
    }
}