.dressCode{
    display: flex;
    margin-top: 500px;
    align-items: center;
    gap: 10rem;
}
.mosaic{
    display: flex;
    gap: 0.7rem;
}

.mosaic__column2{
    margin-top: 50px;
}

@media screen and (max-width: 425px){
    .dressCode{
        flex-wrap: wrap;
        margin-top: 100px;
        gap: 3rem;
        justify-content: center;
    }
    .mosaic{
        flex-wrap: wrap;
    }
}