@import url('https://fonts.googleapis.com/css2?family=Tiro+Telugu&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

html {
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #262626;
  --secondary: white;
  --accent: #A66933;
  --background: #F2ECE4;
  --highlight: #591E08;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}
