.container {
  padding: 4rem 3rem;
}

.card {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #eee;
  margin: 10px 0;
}

.card.active {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(251, 110, 110, 0.76);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.card .name {
  font-size: 16px;
  margin: 5px 0;
}

.field {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 100px;
  border: 2px solid #989898;
}

.data {
  display: flex;
  gap: 10px;
  font-size: 14px;
  margin: 0 0 5px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.attendance {
  display: flex;
  gap: 10px;
}

.attendance input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #333;
  width: 55px;
}

.attendance button {
  padding: 10px;
  cursor: pointer;
  background-color: aquamarine;
  border: none;
  transition: transform 0.3s linear;
  border-radius: 5px;
}

.attendance button:hover {
  transform: scale(1.1);
}

.attended {
  background-color: plum;
}
