.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.accent {
  color: var(--accent);
}

.background {
  color: var(--background);
}

.highlight {
  color: var(--highlight);
}